# Binary
*.apk
*.ap_
*.aab
*.class
*.dex

# Build
bin/
gen/
out/
release/

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Capacitor
capacitor-cordova-android-plugins
capacitor.settings.gradle
app/capacitor.build.gradle

# Web assets
app/src/main/assets/public
