# Ignore all
**

# Except
!common/
!services/
!packages/
!server/
!mobile/
!web/
!scripts/
!lerna.json
!package.json
!tsconfig.json
!yarn.lock

# Ignore specifics

# Build
**/build/

# Node
node_modules/
**/node_modules/

# Next
**/.next/

# Gradle
**/.gradle/

# CocoaPods
**/Pods/

# Local configuration
**/xcuserdata/
**/local.properties
